.logo-img {
	width: 300px; /* Fixed width for large screens */
	height: auto; /* Maintain aspect ratio */
}
/* Medium screens (768px to 991px) */
@media (max-width: 991.98px) {
	.logo-img {
		width: 250px; /* Smaller width for medium screens */
	}
}
/* Small screens (767px and below) */
@media (max-width: 767.98px) {
	.logo-img {
		width: 200px; /* Even smaller width for small screens */
	}
}



/* map */


.map-container {
	position: relative;
	padding-bottom: 100%; /* Creates a square aspect ratio */
	overflow: hidden;
}

@media (max-width: 991px) {
	.map-container {
		padding-bottom: 75%; /* Adjusts aspect ratio for smaller screens */
	}
}

@media (max-width: 767px) {
	.map-container {
		padding-bottom: 56.25%; /* 16:9 aspect ratio for mobile */
	}
}


/* footer */

.hover-text-white:hover {
    color: white !important;
}

.text-gray-100{
	color: rgb(255 255 255 / 81%) !important;
	font-size: 1.13em !important;
}